<!DOCTYPE html>
<html>
 <head>
	             <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0;  }
      #topbar {
	height: 70px;
	min-width: 960px;
	width: 100%;
	background: #F1F1F1;
	border-bottom: 1px solid #DFDFDF;
      }
      #topbar img {
	float: left;
	margin-left: 10px;
      }
      h1 {
	font-family: arial,sans-serif;
	font-weight: bold;
	font-size: 24pt;
	float: left;
	color: #606060;
	margin-bottom: 2px;
	margin-left: 10px;
      }
      #pagebody {
     	height: 100%;
	clear:both;
      }
	#map-canvas {
	 height: 100% ; 
	
      }
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt22ZSRQ418n6tFZkK0ghcNy0NyZRamdg&sensor=false">
    </script>
    <script type="text/javascript" src="static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="static/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="static/maplabel-compiled.js"></script>
    <script type="text/javascript" src="static/markerwithlabel_packed.js"></script>
    <script type="text/javascript">
var initialize = function() {
        var mapOptions = {
		center: new google.maps.LatLng(0, 0.0),
		zoom: 1,
		streetViewControl: false,
		scaleControl:false, //would love to have this, but can't work out how to set the bounds. By default it assumes the size of the earth.
		mapTypeControlOptions: {
			mapTypeIds: ["Survey"]
		}
        };
	
	// Bounds for North America
	//var strictBounds = new google.maps.LatLngBounds(
	//	new google.maps.LatLng(-20, -180.0), 
	//	new google.maps.LatLng(20, 180.90)
	//);
   
	var calculateTileNum = function(coord, zoom) {
		return coord.y * (1<<zoom) + coord.x;
	};
	
	var drawnSurveyMapTypeOptions = {
		getTileUrl: function(coord, zoom) {
			var normalizedCoord = getNormalizedCoord(coord, zoom);
			if (!normalizedCoord) {
				return null;
			}
			var tileNum = calculateTileNum(coord, zoom);
			return "static/survey/year/2012/survey/SysMig/zoom/" + zoom + "/t_" + tileNum + ".png";
		},
		tileSize: new google.maps.Size(256,256),
		maxZoom: 5,
		minZoom: 0,
		name: "Drawn Survey"
	};
	
	var drawnSurveyMapType =new google.maps.ImageMapType(drawnSurveyMapTypeOptions);
	
	
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
	map.mapTypes.set("Survey", drawnSurveyMapType);
	map.setMapTypeId("Survey");
	window.map = map;
	window.labels = {};
	
	//window.alert('blah');
	addStoredLabelMarkers();
	//window.alert('blah2');
	addStoredPhotoMarkers();
    //window.alert('blah3');
	// bounds of the desired area
	var allowedBounds = new google.maps.LatLngBounds(
		new google.maps.LatLng(-90,-180), 
		new google.maps.LatLng(90,180)
	);
	var lastValidCenter = map.getCenter();

	google.maps.event.addListener(map, 'center_changed', function() {
		if (allowedBounds.contains(map.getCenter())) {
			// still within valid bounds, so save the last valid position
			lastValidCenter = map.getCenter();
			return; 
		}
		// not valid anymore => return to last valid position
		map.panTo(lastValidCenter);
	});
	
	google.maps.event.addListener(map, 'zoom_changed', function() {
		//document.//window.alert("zoom = " map.getZoom());
		var zoomField = document.getElementById('zoomLevelField');
		zoomField.value=map.getZoom();
	});
};
      
function addMarkers(map) {        
        var marker = new google.maps.Marker({
		position:new google.maps.LatLng(0, 0.0),
		title:"Requires Enlargement",
		icon:"icons/requires_enlargement_icon.png",
		draggable:true
        });
        marker.setMap(map);
}
      
function addLabelToMap(labelData) {
	var storedLabelPosition = labelData.position;
	var storedText = labelData.text_en;
	var latLng = new google.maps.LatLng(storedLabelPosition[0],storedLabelPosition[1]);
		
	var draggableLabel = new MapLabel({
		text: storedText,
		position: latLng,
		map:window.map,
		fontSize: 12,
		align:'left',
		minZoom:labelData.zoom_level,
		maxZoom:labelData.zoom_level
	});

	var marker = new google.maps.Marker;
	marker.bindTo('map',draggableLabel);
	marker.bindTo('position', draggableLabel);
	marker.setDraggable(window.editMode);
	if(window.editMode == false) {
		marker.setIcon({
			path: google.maps.SymbolPath.CIRCLE,
			scale: 0
		});
	}
	
	if(window.editMode) {
		    
		draggableLabel.datakey = labelData.id;

		//create closure for label id
		//Update the position when we drag
		(function(refLabel) {
			google.maps.event.addListener(marker, "dragend",
			function (mEvent) { 
				//window.alert("Drag End for " + refLabel.datakey +": " + mEvent.latLng.toString()); 
				updateLabelDatastore({
					"id": refLabel.datakey, 
					"position":[refLabel.position.lat(), refLabel.position.lng()]
				});
			});
		})(draggableLabel);
			    
		//Set the id on the data fields when we click, so that we can edit the text 
		(function(refLabel) {
			google.maps.event.addListener(marker, "mousedown",
			function (mEvent) { 
				var labelInputId = document.getElementById('labelInputId');
				var labelInputText = document.getElementById('labelInputText');
				labelInputId.value = refLabel.datakey;
				labelInputText.value = refLabel.text;
				//window.alert("Drag End for " + refLabel.datakey +": " + mEvent.latLng.toString()); 
				
			});
		})(draggableLabel);
			    
		window.labels[labelData.id] = draggableLabel;
	}
}

function addPhotoToMap(photoData) {
	window.alert('adding photo to map');
	var storedPhotoPosition = photoData.position;
	var photoUrl = photoData.url;
	var latLng = new google.maps.LatLng(storedPhotoPosition[0],storedPhotoPosition[1]);
	
	var photoMarker = new google.maps.Marker({
		position: latLng,
		map: window.map,
		icon: 'static/icons/photo.png',
		//datakey = photoData.id
		//draggable: window.editMode
	});
	
	photoMarker.datakey = photoData.id;
	
	var contentString = '<img style="width: auto; max-height: 90%;" src="' + photoUrl + '"/>';

	var infowindow = new google.maps.InfoWindow({
		      content: contentString
	});

	google.maps.event.addListener(photoMarker, 'click', function() {
		    infowindow.open(map,photoMarker);
	});
	
	if(window.editMode) {
		photoMarker.setDraggable(true);
		
		//create closure for label id
		//Update the position when we drag
		(function(refMarker) {
			google.maps.event.addListener(refMarker, "dragend",
			function (mEvent) { 
				window.alert("Drag End for " + refMarker.datakey +": " + mEvent.latLng.toString()); 
				updatePhotoDatastore({
					"id": refMarker.datakey, 
					"position":[refMarker.position.lat(), refMarker.position.lng()]
				});
			});
		})(photoMarker);
		
		window.photos[photoData.id] = photoMarker;
	}
}

function updateLabelDatastore(labelData) {
	updateDatastore("label", labelData);
}

function updatePhotoDatastore(labelData) {
	updateDatastore("photo", labelData);
}

function updateDatastore(type, data) {
	jQuery.ajax({
		type: "PUT",
		url: "/update/" + type + "/" + data.id,
		contentType: "application/json",
		data: jQuery.toJSON(data)
		});
}
      
function addStoredLabelMarkers() {

	jQuery.getJSON( "/labels", 
		function( json ) {
		var labelArr = json.labels;
		for(var l=0; l<labelArr.length; l++) {
		    addLabelToMap(labelArr[l]);
		}}
	);
	
	if(window.editMode) {
		var labelInputText = document.getElementById('labelInputText');
		google.maps.event.addDomListener(labelInputText, 'keyup', updateLabelField);
		google.maps.event.addDomListener(labelInputText, 'change', saveLabelField);
	}
}

function addStoredPhotoMarkers() {
	//window.alert('here');
	jQuery.getJSON( "/photos", 
		function( json ) {
		var photoArr = json.photos;
		for(var p=0; p<photoArr.length; p++) {
		    addPhotoToMap(photoArr[p]);
		}}
	);
}
      
// Normalizes the coords that tiles repeat across the x axis (horizontally)
// like the standard Google map tiles.
function getNormalizedCoord(coord, zoom) {
	var y = coord.y;
	var x = coord.x;

	// tile range in one direction range is dependent on zoom level
	// 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
	var tileRange = 1 << zoom;

	// don't repeat across y-axis (vertically)
	if (y < 0 || y >= tileRange) {
		return null;
	}
	if (x < 0 || x >= tileRange) {
		return null;
	}
	return {
		x: x,
		y: y
	};
}
      
      
function addTextLabel() {
	//if(window.editMode == false) {
	//	return;
	//}
	var zoomLevelField =  document.getElementById('zoomLevelField');
	
	var newLabelData = {
		"text_en": "New Label",
		"position": [0, 0],
		"zoom_level": zoomLevelField.value
	}
	
	jQuery.ajax({
		type: "POST",
		url: "/create/label",
		contentType: "application/json",
		data: jQuery.toJSON(newLabelData)
	}).done(function( msg ) {
		newLabelData.id = msg.id;
		addLabelToMap(newLabelData);
	});
	
}

function addNewPhoto() {
	
	var newPhotoData = {
		"url": "static/icons/miglogo.png",
		"position": [0, 0],
	}
	
	jQuery.ajax({
		type: "POST",
		url: "/create/photo",
		contentType: "application/json",
		data: jQuery.toJSON(newPhotoData)
	}).done(function( msg ) {
		newPhotoData.id = msg.id;
		addPhotoToMap(newPhotoData);
	});
}

//Called while typing into the label text field
function updateLabelField() {
	var textInput = document.getElementById('labelInputText');
	var labelInputId = document.getElementById('labelInputId');
	
	if(!isNaN(labelInputId.value)) {
		var label = window.labels[labelInputId.value];
		if(textInput.value !== label.text) {
			label.set('text', textInput.value);
			label.set('unsaved', true);
			label.set('fontColor', 'red'); //to imply that it hasn't been saved
		}
	}
}
	
//called on hitting return on the label text field
function saveLabelField() {
	var labelInputId = document.getElementById('labelInputId');
	
	if(!isNaN(labelInputId.value)) {
		var label = window.labels[labelInputId.value];
		label.set('unsaved', false);
		label.set('fontColor', 'black'); //to imply that it hasn't been saved
		
		updateLabelDatastore({
			"id": label.datakey, 
			"text_en":label.text
		});
	}
}
      
{% if editMode %}
window.editMode = true;
{% else %}
window.editMode = false;
{% endif %}
google.maps.event.addDomListener(window, 'load', initialize);      
    </script>
    <title>Migovec Survey</title>
 </head>
 <body>
	<div id="topbar">
	<img src="static/icons/miglogo.png" />
	<h1>Migovec Survey</h1>
	</div>
      {% if editMode %}
        <div id="edit-palette">
		
		<h2>Edit palette</h2>
		id  <input type="text" id="labelInputId" value="" disabled="disabled" /><br/>
		label <input type="text" class="loginButtons" id="labelInputText" value="New Label" /><br/>
		zoom level <input type="text" class="loginButtons" id="zoomLevelField" value="2" />
		 <button type="button" onclick="addTextLabel();">Add Marker</button>
		photo Url <input type="text" id="photoUrlInput" value="" /><br/>
		<button type="button" onclick="addNewPhoto();">Add Photo</button>
	</div>
      {% endif %}
	<div id="pagebody" >
		<div id="map-canvas"/>
	</div>
 </body>
</html>
