<!DOCTYPE html>
<html>
 <head>
	             <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
	html { height: 100% }
	body { 
		height: 100%;
		margin: 0 auto;
		padding: 0; 
		text-font: arial, sans-serif;
	}
	header, footer, aside, nav, article {  
		display: block;  
	}  
	#topbar {
		height: 70px;
		min-width: 960px;
		width: 100%;
		background: #F1F1F1;
		#border-bottom: 2px solid #DFDFDF;
		display: table-row;
	}
	#topbar img {
		float: left;
		margin-left: 10px;
	}
	h1 {
		font-family: arial,sans-serif;
		font-weight: bold;
		font-size: 24pt;
		float: left;
		color: #606060;
		margin-bottom: 2px;
		margin-left: 10px;
	}
	#pagebody {
		display: table;
		width: 100%;
		height: 100%;
	}
	#map-canvas {
		height: 100% ;  
	}
       #mapContent { 
		border-top: 1px solid #DFDFDF;
		display: table-cell;  
	}  
	aside {  
		display: table-cell;  
		width: 200px;  
		height: 100%;
		padding: 10px;
		border-right: 1px solid #DFDFDF;
		background: white;
	}  
	#edit-palette {
		display:block;
	}
	#labelControls {
		margin: 3px;
		padding: 3px;
		border: 1px solid #DFDFDF;
	}
	#photoControls {
		margin: 3px;
		padding: 3px;
		border: 1px solid #DFDFDF;
	}
	
    </style>
    <link rel="apple-touch-icon" href="static/icons/miglogoIcon.png"/>  
    <link rel="stylesheet" type="text/css" href="static/gdropdown.css" />
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBt22ZSRQ418n6tFZkK0ghcNy0NyZRamdg&sensor=false">
    </script>
    <script type="text/javascript" src="static/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="static/jquery.json-2.4.min.js"></script>
    <script type="text/javascript" src="static/maplabel-compiled.js"></script>
    <script type="text/javascript" src="static/markerwithlabel_packed.js"></script>
    <script type="text/javascript" src="static/gdropdown.js"></script>
    <script type="text/javascript" src="static/fancybox/jquery.fancybox.pack.js"></script>
	<link rel="stylesheet" type="text/css" href="static/fancybox/jquery.fancybox.css" media="screen" />
    <script type="text/javascript" src="static/fancybox/helpers/jquery.fancybox-buttons.js"></script>
    <script type="text/javascript">
    
function getCoordinateMapType()  {
		//// tile coords
		function CoordMapType() {
	}

	CoordMapType.prototype.tileSize = new google.maps.Size(256,256);
	CoordMapType.prototype.maxZoom = 19;

	CoordMapType.prototype.getTile = function(coord, zoom, ownerDocument) {
	  var div = ownerDocument.createElement('div');
	  //div.innerHTML = coord;
	  div.style.width = this.tileSize.width + 'px';
	  div.style.height = this.tileSize.height + 'px';
	  div.style.fontSize = '10';
	  //div.style.borderStyle = 'solid';
	  //div.style.borderWidth = '1px';
	  //div.style.borderColor = '#AAAAAA';
	  div.style.backgroundColor = '#FFFFFF';
	  return div;
	};

	CoordMapType.prototype.name = 'Tile #s';
	CoordMapType.prototype.alt = 'Tile Coordinate Map Type';

		var coordinateMapType = new CoordMapType();
			
	return coordinateMapType;
}
    
var initialize = function() {
/*
	var  viewOptions = {
		showPlan: true,
		
		showExten
		
		view: (PLAN | EXTENDED ELEVATION)
		showLineSurvey: true
		showDrawnSurvey: true
		showSatellite
		showTerrain
		
		getBaseMapType: function() { return }
		
		update: function() {}
	}
*/
        var mapOptions = {
		center: new google.maps.LatLng(46.25203,13.76397),
		zoom: 16,
		maxZoom: 19,
		streetViewControl: false,
		scaleControl:true,
		panControl: false,
		mapTypeId: "coordinate",
		mapTypeControlOptions: {
			mapTypeIds: []
			//style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
		}
        };
	
	
	var planSurveyMapTypeOptions = {
		name: "Plan"
	}
	
	
	var drawnExtendedElevationMapType = new google.maps.ImageMapType({
		 bounds:  {
			14: 	 [[8818, 8818], [5811, 5812]],
			15:    [[17636, 17638], [11624, 11626]],
			16:    [[35272, 35276], [23248, 24252]],
			17: [[70544, 70552], [46496, 46504]],
			18: [[141088, 141104], [92992, 93008]],
			19: [[282176, 282208], [185984, 186016]]
			},
		getTileUrl: function(coord, zoom) {
			if(zoom < 14 || zoom > 19 ||
					this.bounds[zoom][0][0] > coord.x || coord.x > this.bounds[zoom][0][1] ||
					this.bounds[zoom][1][0] > coord.y || coord.y > this.bounds[zoom][1][1]) {
				return null;
			}			
			return ['static/survey/year/2012/survey/SysMig/extendedElevation/t_', zoom, '_', coord.x, '_', coord.y, '.png'].join('');
		},
		tileSize: new google.maps.Size(256,256),
		name: "Extended Elevation"
	});
	window.drawnExtendedElevationMapType = drawnExtendedElevationMapType;
  
	var drawnPlanSurveyMapType = new google.maps.ImageMapType({
		 bounds:  {
			14: 	 [[8818, 8818], [5811, 5812]],
			15:    [[17636, 17638], [11624, 11626]],
			16:    [[35272, 35276], [23248, 24252]],
			17: [[70544, 70552], [46496, 46504]],
			18: [[141088, 141104], [92992, 93008]],
			19: [[282176, 282208], [185984, 186016]]
			},
		getTileUrl: function(coord, zoom) {
			if(zoom < 14 || zoom > 19 ||
					this.bounds[zoom][0][0] > coord.x || coord.x > this.bounds[zoom][0][1] ||
					this.bounds[zoom][1][0] > coord.y || coord.y > this.bounds[zoom][1][1]) {
				return null;
			}			
			return ['static/survey/year/2012/survey/SysMig/plan/t_', zoom, '_', coord.x, '_', coord.y, '.png'].join('');
		},
		tileSize: new google.maps.Size(256,256),
		name: "Drawn Plan"
	});
	window.drawnPlanSurveyMapType = drawnPlanSurveyMapType;
	
        var map = new google.maps.Map(document.getElementById("map-canvas"),
            mapOptions);
	//map.mapTypes.set("ExtendedElevation", drawnExtendedElevationMapType);
	//map.mapTypes.set("Plan", drawnPlanSurveyMapType);
	var coordinateMapType = getCoordinateMapType();
	map.mapTypes.set("coordinate", coordinateMapType);
	
	//map.setMapTypeId("ExtendedElevation Plan");
	map.overlayMapTypes.push(drawnPlanSurveyMapType);
	window.survexPlanKml = new google.maps.KmlLayer({
		//url: 'https://www.dropbox.com/s/llmwo0qldtmc9po/plan.kml'
		url: 'https://raw.github.com/clewingriffith/migovec-survey/master/src/survey/year/2012/survey/SysMig/plan2.kml'
	});
	//window.survexExtendedElevationKml = new google.maps.KmlLayer({
	//	url: 'https://raw.github.com/clewingriffith/migovec-survey/master/src/survey/year/2012/survey/SysMig/plan2.kml'
	//});
	//window.survexPlanKml.setMap(map);
	

	  // Now attach the coordinate map type to the map's registry
	map.mapTypes.set('coordinate', coordinateMapType);
	////
	 // Create div for showing copyrights.
    copyrightNode = document.createElement('div');
    copyrightNode.id = 'copyright-control';
    copyrightNode.style.fontSize = '11px';
    copyrightNode.style.fontFamily = 'Arial, sans-serif';
    copyrightNode.style.margin = '0 2px 2px 0';
    copyrightNode.style.whiteSpace = 'nowrap';
    copyrightNode.index = 0;
    copyrightNode.innerHTML = "Cave survey &copy; ICCC &amp; JSPDT 1994-2013";
    map.controls[google.maps.ControlPosition.BOTTOM_RIGHT].push(copyrightNode);

	
	//~ /// Setup dropdown for Plan View
	     //~ //start process to set up custom drop down
        //~ //create the options that respond to click
        //~ var divOptions = {
        		//~ gmap: map,
        		//~ name: 'Drawn Plan',
        		//~ title: "Show the drawn survey (plan view)",
        		//~ id: "mapOpt",
        		//~ action: function(){
				//~ changeMapOptions({"projection": "PLAN"});
        		//~ }
        //~ }
        //~ var drawnPlanDiv1 = new optionDiv(divOptions);
        
        
        //~ //create the check box items
	//~ var checkLabels = {
        		//~ gmap: map,
        		//~ title: "Show labels ",
        		//~ id: "labelsCheck",
        		//~ label: "Labels",
			//~ checked: true,
        		//~ action: function(){
        			//~ alert('you clicked labels');
        		//~ }        		        		
        //~ }
        //~ var labelsCheckBox = new checkBox(checkLabels);
        
        //~ var checkPhotos = {
        		//~ gmap: map,
        		//~ title: "Show Photos",
        		//~ id: "photosCheck",
        		//~ label: "Photos",
			//~ checked: true,
        		//~ action: function(){
				
					//~ for(var p in window.photos) {
						//~ var ph = window.photos[p];
						//~ if(ph.map) {
							//~ ph.setMap(null);
						//~ } else {
							//~ ph.setMap(window.map);
						//~ }
					//~ }
				
        		//~ }        		        		
        //~ }
        //~ var photosCheckBox = new checkBox(checkPhotos);
	
        //~ var checkTerrain = {
        		//~ gmap: map,
        		//~ title: "Show terrain. ",
        		//~ id: "terrainCheck",
        		//~ name: "Terrain",
        		//~ action: function(){
				//~ changeMapOptions({"maptype": "terrain"});
        		//~ }        		        		
        //~ }
        //~ var terrainOption = new optionDiv(checkTerrain);
        
        //~ var checkSatellite = {
        		//~ gmap: map,
        		//~ title: "Show satellite imagery",
        		//~ id: "satelliteCheck",
        		//~ name: "Satellite",
        		//~ action: function(){
				//~ changeMapOptions({"maptype": "satellite"});
        		//~ }        		        		
        //~ }
        //~ var satelliteOption = new optionDiv(checkSatellite);
        
	
        //~ //create the input box items
        
        //~ //possibly add a separator between controls        
        //~ var sep = new separator();
        
        //~ //put them all together to create the drop down       
        //~ var ddDivOptions = {
        	//~ items: [drawnPlanDiv1, sep, labelsCheckBox, photosCheckBox, sep, terrainOption, satelliteOption],
        	//~ id: "myddOptsDiv"        		
        //~ }
        //~ //alert(ddDivOptions.items[1]);
        //~ var dropDownDiv = new dropDownOptionsDiv(ddDivOptions);               
                
        //~ var planDropDownOptions = {
        		//~ gmap: map,
        		//~ name: 'Plan',
        		//~ id: 'ddControl',
        		//~ //title: 'A custom drop down select with mixed elements',
        		//~ position: google.maps.ControlPosition.TOP_RIGHT,
        		//~ dropDown: dropDownDiv 
        //~ }
        
        //~ var planDropDown = new dropDownControl(planDropDownOptions);   
	
	

	//var projection = map.getProjection();//google.maps.MapCanvasProjection
	
	window.map = map;
	window.planlabels = {};
	window.elevlabels = {};
	window.planphotos = {};
	window.elevphotos = {};
	window.displayOptions = {
		"maptype": "coordinate",
		"projection": "PLAN",
		"showDrawnSurvey": true,
		"showLineSurvey": false,
		"showLabels": true,
		"showPhotos": false
	};
	
	addPlanDropDown();
	addExtendedElevationDropDown();
	
	addStoredLabelMarkers();
	addStoredPhotoMarkers();

	// bounds of the desired area
	/*var allowedBounds = new google.maps.LatLngBounds(
		new google.maps.LatLng(-90,-180), 
		new google.maps.LatLng(90,180)
	);
	var lastValidCenter = map.getCenter();

	google.maps.event.addListener(map, 'center_changed', function() {
		if (allowedBounds.contains(map.getCenter())) {
			// still within valid bounds, so save the last valid position
			lastValidCenter = map.getCenter();
			return; 
		}
		// not valid anymore => return to last valid position
		map.panTo(lastValidCenter);
	});
*/	
	if(window.editMode) {
		google.maps.event.addListener(map, 'zoom_changed', function() {
			var zoomField = document.getElementById('zoomLevelField');
			zoomField.value=map.getZoom();
		});
		
	}
	
	jQuery(".fancybox").fancybox();
};
      
function addExtendedElevationDropDown() {
	
	var eeDivOptions = {
        		gmap: window.map,
        		label: 'Drawn survey',
        		title: "Show the drawn survey (extended elevation view)",
        		id: "mapOpt2",
			checked: true,
        		action: function(){
				this.checked = !this.checked;
				changeMapOptions({"projection": "EXTENDED_ELEVATION", "showDrawnSurvey":this.checked});
        		}
        }
        var drawnElevDiv1 = new checkBox(eeDivOptions);
	
	var divOptions3 = {
        		gmap: window.map,
        		label: 'Line survey',
        		title: "Show the survex line survey (elevation view)",
        		id: "mapOpt3",
			checked: false,
        		action: function(){
				this.checked = !this.checked;
				//alert(this.checked);
				changeMapOptions({"projection": "EXTENDED_ELEVATION", "showLineSurvey":this.checked});
        		}
        }
        var linePlanDiv1 = new checkBox(divOptions3);
	
	//create the check box items
	var checkLabels = {
        		gmap: window.map,
        		title: "Show labels ",
        		id: "labelsCheck",
        		label: "Labels",
			checked: true,
        		action: function(){
				this.checked = !this.checked;
				changeMapOptions({"projection": "EXTENDED_ELEVATION", "showLabels":this.checked});
        		}        		        		
        }
        var labelsCheckBox = new checkBox(checkLabels);
        
        var checkPhotos = {
        		gmap: window.map,
        		title: "Show Photos",
        		id: "elevphotosCheck",
        		label: "Photos",
			checked: false,
        		action: function(){
				this.checked = !this.checked;
				changeMapOptions({"projection": "EXTENDED_ELEVATION", "showPhotos":this.checked});
        		}        		        		
        }
        var photosCheckBox = new checkBox(checkPhotos);
	
	
        //create the input box items
        
        //possibly add a separator between controls        
        var sep = new separator();
        
        //put them all together to create the drop down       
        var ddDivOptions1 = {
        	items: [drawnElevDiv1, sep, photosCheckBox, labelsCheckBox], //, terrainOption, satelliteOption],
        	id: "eemyddOptsDiv"
        }
        //alert(ddDivOptions.items[1]);
        var dropDownDiv1 = new dropDownOptionsDiv(ddDivOptions1);               
            
        var extendedElevationDropDownOptions = {
        		gmap: map,
        		name: 'Elevation',
        		id: 'eeddControl',
        		//title: 'A custom drop down select with mixed elements',
        		position: google.maps.ControlPosition.TOP_RIGHT,
        		dropDown: dropDownDiv1,
			action:function() {
			    changeMapOptions({"projection": "EXTENDED_ELEVATION"});
			    checkLabels.checked = window.displayOptions["showLabels"];
			    checkPhotos.checked = window.displayOptions["showPhotos"];
			}
        }
        
        var extendedElevationDropDown = new dropDownControl(extendedElevationDropDownOptions);  
}
      
function addPlanDropDown() {
	/// Setup dropdown for Plan View
	     //start process to set up custom drop down
        //create the options that respond to click
        var drawnPlanOptions1 = {
        		gmap: window.map,
        		label: 'Drawn survey',
        		title: "Show the drawn survey (plan view)",
        		id: "mapOpt1",
			checked: true,
        		action: function(){
				this.checked = !this.checked;
				changeMapOptions({"projection": "PLAN", "showDrawnSurvey":this.checked});
        		}
        }
        var drawnPlanDiv1 = new checkBox(drawnPlanOptions1);
        
	var divOptions2 = {
        		gmap: window.map,
        		label: 'Line survey',
        		title: "Show the survex line survey (plan view)",
        		id: "mapOpt2",
			checked: false,
        		action: function(){
				this.checked = !this.checked;
				//alert(this.checked);
				changeMapOptions({"projection": "PLAN", "showLineSurvey":this.checked});
        		}
        }
        var linePlanDiv1 = new checkBox(divOptions2);
	
        var checkTerrain = {
        		gmap: window.map,
        		title: "Show terrain. ",
        		id: "terrainCheck",
        		name: "Terrain",
        		action: function(){
				changeMapOptions({"projection": "PLAN", "maptype": "terrain"});
        		}        		        		
        }
        var terrainOption = new optionDiv(checkTerrain);
        
        var checkSatellite = {
        		gmap: window.map,
        		title: "Show satellite imagery",
        		id: "satelliteCheck",
        		name: "Satellite",
        		action: function(){
				changeMapOptions({"projection": "PLAN", "maptype": "satellite"});
        		}        		        		
        }
        var satelliteOption = new optionDiv(checkSatellite);
        
	var checkPaper = {
		gmap:window.map,
		title:"Paper",
		id:"paperCheck",
		name:"Paper",
		action: function() {
			changeMapOptions({"projection": "PLAN", "maptype": "coordinate"});
		}
	}
	
	var paperOption = new optionDiv(checkPaper);
	
		//create the check box items
	var checkLabels = {
        		gmap: window.map,
        		title: "Show labels ",
        		id: "labelsCheck",
        		label: "Labels",
			checked: true,
        		action: function(){
				this.checked = !this.checked;
				changeMapOptions({"projection": "PLAN", "showLabels":this.checked});
        		}        		        		
        }
        var labelsCheckBox = new checkBox(checkLabels);
        
        var checkPhotos = {
        		gmap: window.map,
        		title: "Show Photos",
        		id: "planphotosCheck",
        		label: "Photos",
			checked: false,
        		action: function(){
				this.checked = !this.checked;
				changeMapOptions({"projection": "PLAN", "showPhotos":this.checked});
        		}        		        		
        }
        var photosCheckBox = new checkBox(checkPhotos);
	
        //create the input box items
        
        //possibly add a separator between controls        
        var sep = new separator();
        
        //put them all together to create the drop down       
        var ddDivOptions = {
        	items: [drawnPlanDiv1,linePlanDiv1, sep, labelsCheckBox, photosCheckBox, sep, terrainOption, satelliteOption, paperOption],
        	id: "myddOptsDiv"
        }
        //alert(ddDivOptions.items[1]);
        var dropDownDiv = new dropDownOptionsDiv(ddDivOptions);               
                
        var planDropDownOptions = {
        		gmap: map,
        		name: 'Plan',
        		id: 'ddControl',
        		//title: 'A custom drop down select with mixed elements',
        		position: google.maps.ControlPosition.TOP_RIGHT,
        		dropDown: dropDownDiv ,
			action:function() {
			   changeMapOptions({"projection": "PLAN"});   
			   checkLabels.checked = window.displayOptions["showLabels"];
			   checkPhotos.checked = window.displayOptions["showPhotos"];
			}
        }
        
        var planDropDown = new dropDownControl(planDropDownOptions);   
}
      
function changeMapOptions(newOptions) {
	//override the old options with the new ones.
	for(var opt in newOptions) {
		window.displayOptions[opt] = newOptions[opt];
	}
	if(window.displayOptions["maptype"] == "satellite") {
		window.map.setMapTypeId(google.maps.MapTypeId.SATELLITE);
	}
	if(window.displayOptions["maptype"] == "terrain") {
		//var mapType = window.map.mapTypes.get(google.maps.MapTypeId.TERRAIN);
		//mapType.maxZoom = 19;
		window.map.setMapTypeId(google.maps.MapTypeId.TERRAIN);
	}
	if(window.displayOptions["maptype"] == "coordinate") {
		window.map.setMapTypeId("coordinate");
	}
	if(window.displayOptions["projection"] == "EXTENDED_ELEVATION") {
		window.map.setMapTypeId("coordinate");
		/*if(window.displayOptions["showLineSurvey"]) {
			window.survexExtendedElevationKml.setMap(window.map);
		} else {
			window.survexExtendedElevationKml.setMap(null);
		}*/
		if(window.displayOptions["showDrawnSurvey"]) {
			window.map.overlayMapTypes.clear();
			window.map.overlayMapTypes.push(window.drawnExtendedElevationMapType);
		} else {
			map.overlayMapTypes.clear();
		}
		
		if(window.displayOptions["showPhotos"]) {
			for(var p in window.elevphotos) {
				var ph = window.elevphotos[p];
				ph.setMap(window.map);
			}
		} else {
			for(var p in window.elevphotos) {
				var ph = window.elevphotos[p];
				ph.setMap(null);
			}
		}
		
		if(window.displayOptions["showLabels"]) {
			for(var l in window.elevlabels) {
				var ll = window.elevlabels[l];
				ll.setMap(window.map);
			}
		} else {
			for(var l in window.elevlabels) {
				var ll = window.elevlabels[l];
				ll.setMap(null);
			}
		}
		//hide plan labels and photos
		for(var l in window.planlabels) {
			var ll = window.planlabels[l];
			ll.setMap(null);
		}
		for(var l in window.planphotos) {
			var ll = window.planphotos[l];
			ll.setMap(null);
		}
	}
	if(window.displayOptions["projection"] == "PLAN") {
		if(window.displayOptions["showLineSurvey"]) {
			window.survexPlanKml.setMap(window.map);
		} else {
			window.survexPlanKml.setMap(null);
		}
		if(window.displayOptions["showDrawnSurvey"]) {
			map.overlayMapTypes.clear();
			map.overlayMapTypes.push(window.drawnPlanSurveyMapType);
		} else {
			map.overlayMapTypes.clear();
		}
		
		if(window.displayOptions["showPhotos"]) {
			for(var p in window.planphotos) {
				var ph = window.planphotos[p];
				ph.setMap(window.map);
			}
		} else {
			for(var p in window.planphotos) {
				var ph = window.planphotos[p];
				ph.setMap(null);
			}
		}
		
		if(window.displayOptions["showLabels"]) {
			for(var l in window.planlabels) {
				var ll = window.planlabels[l];
				ll.setMap(window.map);
			}
		} else {
			for(var l in window.planlabels) {
				var ll = window.planlabels[l];
				ll.setMap(null);
			}
		}
		//hide elev labels
		for(var l in window.elevlabels) {
			var ll = window.elevlabels[l];
			ll.setMap(null);
		}
		for(var l in window.elevphotos) {
			var ll = window.elevphotos[l];
			ll.setMap(null);
		}
	}

	//if(window.displayOptions["projection"] == "coord") {
		
	//}
	/*if(window.displayOptions["projection"] == "PLAN") {
		//window.map.setCenter(new google.maps.LatLng(46.25153,13.76266)); 
		//window.map.setZoom(19);
		//add in the KML file
		//window.survexPlanKml.setMap(window.map);
		var projection = window.map.getProjection();
		var minPointLL = new google.maps.LatLng(46.246145000, 13.756118000);
		var maxPointLL = new google.maps.LatLng(46.258888000, 13.769138000);
		var minPointWC = projection.fromLatLngToPoint(minPointLL);
		var maxPointWC = projection.fromLatLngToPoint(maxPointLL);
		//window.alert("world coordinate x: " + minPointWC.x + " , y: " + minPointWC.y);
		var numTiles = 1 << map.getZoom();
		var minPointPC = new google.maps.Point(
			minPointWC.x * numTiles,
			minPointWC.y * numTiles);
		var maxPointPC = new google.maps.Point(
			maxPointWC.x * numTiles,
			maxPointWC.y * numTiles);
		var minPointTC = new google.maps.Point(
			Math.floor(minPointPC.x / 256),
			Math.floor(minPointPC.y / 256));
		var maxPointTC = new google.maps.Point(
			Math.floor(maxPointPC.x / 256),
			Math.floor(maxPointPC.y / 256));	
		var coordInfoWindowMax = new google.maps.InfoWindow();
		var coordInfoWindowMin = new google.maps.InfoWindow();
		var contentMin = [
    'Min',
    'LatLng: ' + minPointLL.lat() + ' , ' + minPointLL.lng(),
    'World Coordinate: ' + minPointWC.x + ' , ' +
      minPointWC.y,
    'Pixel Coordinate: ' + Math.floor(minPointPC.x) + ' , ' +
      Math.floor(minPointPC.y),
    'Tile Coordinate: ' + minPointTC.x + ' , ' +
      minPointTC.y + ' at Zoom Level: ' + map.getZoom()
  ].join('<br>');
  
  var contentMax = [
    'Max',
    'LatLng: ' + maxPointLL.lat() + ' , ' + maxPointLL.lng(),
    'World Coordinate: ' + maxPointWC.x + ' , ' +
      maxPointWC.y,
    'Pixel Coordinate: ' + Math.floor(maxPointPC.x) + ' , ' +
      Math.floor(maxPointPC.y),
    'Tile Coordinate: ' + maxPointTC.x + ' , ' +
      maxPointTC.y + ' at Zoom Level: ' + map.getZoom()
  ].join('<br>');
  
		coordInfoWindowMin.setContent(contentMin);
		coordInfoWindowMax.setContent(contentMax);
		coordInfoWindowMin.setPosition(minPointLL);
		coordInfoWindowMax.setPosition(maxPointLL);
		//coordInfoWindowMin.open(window.map);	
		//coordInfoWindowMax.open(window.map);
	} else {
		window.map.setZoom(2);
		window.map.setCenter(new google.maps.LatLng(0,0));
	}*/
}
      
function addMarkers(map) {        
        var marker = new google.maps.Marker({
		position:new google.maps.LatLng(0, 0.0),
		title:"Requires Enlargement",
		icon:"icons/requires_enlargement_icon.png",
		draggable:true
        });
        marker.setMap(map);
}
      
function addLabelToMap(labelData, projection) {
	var storedLabelPosition = labelData.position;
	var storedText = labelData.text_en;
	var latLng = new google.maps.LatLng(storedLabelPosition[0],storedLabelPosition[1], true);
		
	var draggableLabel = new MapLabel({
		text: storedText,
		position: latLng,
		map:window.map,
		fontSize: 12,
		align:'left',
		minZoom:labelData.zoom_level,
		maxZoom:labelData.zoom_level
	});
	if(window.displayOptions["projection"] == projection && window.displayOptions["showLabels"]) {
		draggableLabel.setMap(window.map);
	} else {
		draggableLabel.setMap(null);
	}

	var marker = new google.maps.Marker;
	marker.bindTo('map',draggableLabel);
	marker.bindTo('position', draggableLabel);
	marker.setDraggable(window.editMode);
	if(window.editMode == false) {
		marker.setIcon({
			path: google.maps.SymbolPath.CIRCLE,
			scale: 0
		});
	}
	
	if(window.editMode) {
		    
		draggableLabel.datakey = labelData.id;

		//create closure for label id
		//Update the position when we drag
		(function(refLabel) {
			google.maps.event.addListener(marker, "dragend",
			function (mEvent) { 
				updateLabelDatastore({
					"id": refLabel.datakey, 
					"position":[refLabel.position.lat(), refLabel.position.lng()]
				});
			});
		})(draggableLabel);
			    
		//Set the id on the data fields when we click, so that we can edit the text 
		(function(refLabel) {
			google.maps.event.addListener(marker, "mousedown",
			function (mEvent) { 
				var labelInputId = document.getElementById('labelInputId');
				var labelInputText = document.getElementById('labelInputText');
				labelInputId.value = refLabel.datakey;
				labelInputText.value = refLabel.text;
				
			});
			
		})(draggableLabel);
	}
	
	if(projection == "PLAN") {
			window.planlabels[labelData.id] = draggableLabel;
	} else {
			window.elevlabels[labelData.id] = draggableLabel;
	}
	
}

function addPhotoToMap(photoData, projection) {
	var storedPhotoPosition = photoData.position;
	var photoUrl = photoData.url;
	var latLng = new google.maps.LatLng(storedPhotoPosition[0],storedPhotoPosition[1], true);
	
	var photoMarker = new google.maps.Marker({
		position: latLng,
		map: window.map,
		icon: 'static/icons/photo.png',
		datakey: photoData.id,
		photoUrl: photoData.url,
		photoId: photoData.id,
		//draggable: window.editMode
	});
	
	if(window.displayOptions["projection"] == projection && window.displayOptions["showPhotos"]) {
		photoMarker.setMap(window.map);
	} else {
		photoMarker.setMap(null);
	}
	
	//photoMarker.datakey = photoData.id;
	
	//var contentString = '<img style="width: auto; max-height: 90%;" src="' + photoUrl + '"/>';

	//var infowindow = new google.maps.InfoWindow({
//		      content: contentString
//	});

	google.maps.event.addListener(photoMarker, 'click', function() {
		   //infowindow.open(map,photoMarker);
		   jQuery.fancybox.open(photoMarker.photoUrl);
		   document.getElementById('photoInputId').value = photoMarker.photoId;
		   document.getElementById('photoInputUrl').value = photoMarker.photoUrl;
	});
	
	if(window.editMode) {
		photoMarker.setDraggable(true);
		
		//create closure for label id
		//Update the position when we drag
		(function(refMarker) {
			google.maps.event.addListener(refMarker, "dragend",
			function (mEvent) { 
				updatePhotoDatastore({
					"id": refMarker.datakey, 
					"position":[refMarker.position.lat(), refMarker.position.lng()]
				});
			});
		})(photoMarker);
		
		//Set the id on the data fields when we click, so that we can edit the text 
		(function(refMarker) {
			google.maps.event.addListener(refMarker, "mousedown",
			function (mEvent) { 
				var photoInputId = document.getElementById('photoInputId');
				var photoInputUrl = document.getElementById('photoInputUrl');
				photoInputId.value = refMarker.photoId;
				photoInputUrl.value = refMarker.photoUrl;
			});
		})(photoMarker);
		
	}
	
	if(projection == "PLAN") {
			window.planphotos[photoMarker.photoId] = photoMarker;
	} else {
			window.elevphotos[photoMarker.photoId] = photoMarker;
	}
}

function updateLabelDatastore(labelData) {
	updateDatastore("label", labelData);
}

function updatePhotoDatastore(labelData) {
	updateDatastore("photo", labelData);
}

function updateDatastore(type, data) {
	jQuery.ajax({
		type: "PUT",
		url: "/update/" + type + "/" + data.id,
		contentType: "application/json",
		data: jQuery.toJSON(data)
		});
}
      
function addStoredLabelMarkers() {

	//var projectionType = window.displayOptions["projection"];

	jQuery.getJSON( "/labels/PLAN", 
		function( json ) {
		var labelArr = json.labels;
		for(var l=0; l<labelArr.length; l++) {
		    addLabelToMap(labelArr[l], "PLAN");
		}}
	);
	
	jQuery.getJSON( "/labels/EXTENDED_ELEVATION", 
		function( json ) {
		var labelArr = json.labels;
		for(var l=0; l<labelArr.length; l++) {
		    addLabelToMap(labelArr[l], "EXTENDED_ELEVATION");
		}}
	);
	
	if(window.editMode) {
		var labelInputText = document.getElementById('labelInputText');
		google.maps.event.addListener(window.map, 'click', clearLabelAndPhotoField);
		google.maps.event.addDomListener(labelInputText, 'keyup', updateLabelField);
		google.maps.event.addDomListener(labelInputText, 'change', saveLabelField);
	}

}

function addStoredPhotoMarkers() {
	jQuery.getJSON( "/photos/PLAN", 
		function( json ) {
		var photoArr = json.photos;
		for(var p=0; p<photoArr.length; p++) {
		    addPhotoToMap(photoArr[p], "PLAN");
		}}
	);
	
	jQuery.getJSON( "/photos/EXTENDED_ELEVATION", 
		function( json ) {
		var photoArr = json.photos;
		for(var p=0; p<photoArr.length; p++) {
		    addPhotoToMap(photoArr[p], "EXTENDED_ELEVATION");
		}}
	);
	
	if(window.editMode) {
		var photoInputUrl = document.getElementById('photoInputUrl');
		google.maps.event.addDomListener(photoInputUrl, 'change', savePhotoUrl);
	}
}
      
// Normalizes the coords that tiles repeat across the x axis (horizontally)
// like the standard Google map tiles.
function getNormalizedCoord(coord, zoom) {
	var y = coord.y;
	var x = coord.x;

	// tile range in one direction range is dependent on zoom level
	// 0 = 1 tile, 1 = 2 tiles, 2 = 4 tiles, 3 = 8 tiles, etc
	var tileRange = 1 << zoom;

	// don't repeat across y-axis (vertically)
	if (y < 0 || y >= tileRange) {
		return null;
	}
	if (x < 0 || x >= tileRange) {
		return null;
	}
	return {
		x: x,
		y: y
	};
}
      
function getCanvasCenterAsLatLng() {
	var canvas = document.getElementById("map-canvas");
	var overlay = new google.maps.OverlayView();
	overlay.draw = function() {};
	overlay.setMap(window.map);
	
	var projection = overlay.getProjection();
	var point=new google.maps.Point(0.5*(jQuery(canvas).width()),0.5*(jQuery(canvas).height()));
	var latlng = projection.fromContainerPixelToLatLng(point);
	return latlng;
}
      
function addTextLabel() {
	//if(window.editMode == false) {
	//	return;
	//}
	var zoomLevelField =  document.getElementById('zoomLevelField');
	var textInput = document.getElementById('labelInputText');
	
	var latlng = getCanvasCenterAsLatLng();
	
	var newLabelData = {
		"text_en": textInput.value,
		"position": [latlng.lat(), latlng.lng()],
		"zoom_level": zoomLevelField.value
	}
	
	var projectionType = window.displayOptions["projection"];
	
	jQuery.ajax({
		type: "POST",
		url: "/create/label/"+ projectionType,
		contentType: "application/json",
		data: jQuery.toJSON(newLabelData)
	}).done(function( msg ) {
		newLabelData.id = msg.id;
		addLabelToMap(newLabelData, projectionType);
	});
	
}

function addNewPhoto() {

	var latlng = getCanvasCenterAsLatLng();

	var newPhotoData = {
		"url": "static/icons/miglogo.png",
		"position": [latlng.lat(), latlng.lng()],
	}
	
	var photoInputUrl = document.getElementById('photoInputUrl');
	if(photoInputUrl.value) {
		newPhotoData.url = photoInputUrl.value;
	}
	
	var projectionType = window.displayOptions["projection"];
	
	jQuery.ajax({
		type: "POST",
		url: "/create/photo/" + projectionType,
		contentType: "application/json",
		data: jQuery.toJSON(newPhotoData)
	}).done(function( msg ) {
		newPhotoData.id = msg.id;
		addPhotoToMap(newPhotoData, projectionType);
	});
}

//Called while typing into the label text field
function updateLabelField() {
	var textInput = document.getElementById('labelInputText');
	var labelInputId = document.getElementById('labelInputId');
	
	if(labelInputId.value) {
		var label;
		if(window.displayOptions["projection"] == "PLAN") {
			label = window.planlabels[labelInputId.value];
		} else {
			label = window.elevlabels[labelInputId.value];
		}
		
		if(textInput.value !== label.text) {
			label.set('text', textInput.value);
			label.set('unsaved', true);
			label.set('fontColor', 'red'); //to imply that it hasn't been saved
		}
	}
}
	
//called on hitting return on the label text field
function saveLabelField() {
	var labelInputId = document.getElementById('labelInputId');
	
	if(!isNaN(labelInputId.value)) {
		var label;
		if(window.displayOptions["projection"] == "PLAN") {
			label = window.planlabels[labelInputId.value];
		} else {
			label = window.elevlabels[labelInputId.value];
		}
		
		label.set('unsaved', false);
		label.set('fontColor', 'black'); //to imply that it hasn't been saved
		
		updateLabelDatastore({
			"id": label.datakey, 
			"text_en":label.text
		});
	}
}

//remove the ids and replace label name with default
function clearLabelAndPhotoField() {
	var labelInputId = document.getElementById('labelInputId');
	labelInputId.value = "";
	var labelInputText = document.getElementById('labelInputText');
	labelInputText = "New Label";
	var photoInputId = document.getElementById('photoInputId');
	photoInputId.value = "";
	var photoInputUrl = document.getElementById('photoInputUrl');
	photoInputUrl.value = "static/icons/miglogo.png";
}

//called on hitting return on the photo Url field
function savePhotoUrl() {
	var photoInputId = document.getElementById('photoInputId');
	var photoInputUrl = document.getElementById('photoInputUrl');
	
	if(!isNaN(photoInputId.value)) {
		updatePhotoDatastore({
			"id": photoInputId.value, 
			"url":photoInputUrl.value
		});
	}
	
	//update marker
	var marker = window.photos[photoInputId.value];
	marker.photoUrl = photoInputUrl.value;
}
      
{% if editMode %}
window.editMode = true;
{% else %}
window.editMode = false;
{% endif %}
google.maps.event.addDomListener(window, 'load', initialize);      
    </script>
    <title>Migovec Survey</title>
 </head>
 <body>
	<header>
 {% if editMode %}
 <div id="topbar">
			<img src="static/icons/miglogo.png" />
			<h1>Migovec Survey</h1>
		</div>
  {% endif %}
	</header>
	
	<div id="pagebody" >
	 {% if not editMode %}
		<div id="topbar">
			<img src="static/icons/miglogo.png" />
			<h1>Migovec Survey</h1>
		</div>
	{% endif %}
	      {% if editMode %}
	      <aside>
		<div id="edit-palette">
			
			<h2>Edit palette</h2>
			<div id="labelControls">
				<div>Label markers</div>
				<input type="text" id="labelInputId" value="" disabled="disabled" />
				label <input type="text" class="loginButtons" id="labelInputText" value="New Label" /><br/>
				zoom level <input type="text" class="loginButtons" id="zoomLevelField" value="16" />
				 <button type="button" onclick="addTextLabel();">Add Marker</button>
			 </div>
			 <div id="photoControls">
				 <div>Photo markers</div>
				 <div>Id <input type="text" id="photoInputId"  value="" disabled="disabled" /></div>
				<div>Url <input type="text" id="photoInputUrl" value="" /></div>
				<button type="button" onclick="addNewPhoto();">Add New Photo</button>
			</div>
		</div>
		</aside>
	      {% endif %}
	      
		<div id="mapContent">
		
					<div id="map-canvas"/>
			
		</div>
	</div>
 </body>
</html>
